

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}



.taap-nav {
    height: 50px;
    background: #2b3643;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.taap-nav .brand {
    margin-left: 50px;
}
.taap-nav .links .link {
    color: #c6cfda;
}
.taap-nav .links .link:hover {

}
.taap-nav .links {
    display: flex;
    gap: 20px;
}


.container-home {
    max-width: 1140px;
    margin: 0 auto;
    padding-top: 30px;
}
div.h2 {
    font-size: 25px;
}
.collapseable-card {
    border: 1px solid #32c5d2;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
    transition: 0.5s;
}
.collapseable-card .card-controll {
    transform: translateX(0.5px);
    background: #32c5d2;
    width: inherit;
    display: flex;
    gap: 10px;
    padding: 8px 12px;
    position: relative;
}
.card-controll .card-title, .card-controll a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    line-height: 18px;
}


.collapseable-card .card-body {
    position: relative;
    width: 100%;
    transition: all 0.5s;
    overflow: hidden;
    padding: 20px;
    transform-origin: top center;
    border: 1px solid black;
}
.collapseable-card.active .card-body {
    height: 0px;
    padding: 0px;
}
.collapseable-card.active .card-controll .buttons .up-down .icon {
    transform: translateY(8px) rotate(135deg);
}




.buttons {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    gap: 15px;
}


.up-down .icon {
    height: 11px;
    aspect-ratio: 1;
    border-left: 3px solid white;
    border-bottom: 3px solid white;
    transform: translateY(2px) rotate(-45deg);
    transition: 0.5s;
    cursor: pointer;
}
.cross .icon {
    color: white;
    cursor: pointer;
}


.card-bodyList div:not(.hr){
    margin-left: 200px;
}
div.hr {
    border-top: 1px solid red;
}
.card-bodyList div:nth-child(1) ul {
    list-style: none;
    padding: 10px 0;
}
.list-line ul {
    list-style: none;
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px 0;
    flex-wrap: wrap;
}
.list-line.inpart ul li a{
    font-size: 13px;
    font-weight: 700;
}
.list-line ul li a {
    text-decoration: none;
    white-space: nowrap;
}
div.bold ul li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    line-height: 40px;
    color: #22313F;
}
a.hover-under:hover {
    border-bottom: 1px solid black !important;
}


.body-part {
    padding: 10px 0;
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
}
.body-part select {
    width: 250px;
    padding: 5px;
}
.label200 {
    width: 200px;
    text-align: right;
}

.taap-btn {
    border: none;
    padding: 10px 12px;
    color: aliceblue;
    cursor: pointer;
}
.big {
    font-size: 22px !important;
}



.taap-form {
display: flex;
flex-direction: column;
gap: 20px;
}
.taap-form div {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
}
div.label {
    width: 250px;
    display: flex;
    gap: 5px;
    justify-content: flex-end;
}
.taap-form div span {
    font-size: 12px;
}

.taap-form div input, .taap-form div select {
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.34);
    min-width: 200px;
}


.taap-form div input {
    width: 250px;
}

div.bigSubmit {
    padding: 20px;
    margin: 0;
    margin-top: 30px;
    background-color: #f5f5f5;
    border-top: 1px solid #e7ecf1;
    padding-left: 250px;
}

.bigSubmit input {
    padding: 7px 10px;
    border-color: rgba(0, 0, 0, 0.295);
    cursor: pointer;
}


.two {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.taap-yellow {
    color: #c49f47 !important;
}
.taap-black {
    color: #22313F !important;
}
.taap-dgreen {
    color: #4DB3A2 !important;
}
.taap-gold {
    color: #E87E04 !important;
}
.taap-blue {
    color: #3598dc !important;
}
.taap-red {
    color: #e7505a !important;
}
.taap-green {
    color: #32c5d2 !important;
}
.taap-bg-green {
    background: #32c5d2 !important;
}
.taap-text {
    color: #666;
    font-weight: 300;
}