

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}



.taap-nav {
    height: 50px;
    background: #2b3643;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.taap-nav .brand {
    margin-left: 50px;
}
.taap-nav .links .link {
    color: #c6cfda;
}
.taap-nav .links .link:hover {

}
.taap-nav .links {
    display: flex;
    gap: 20px;
}


.container-home {
    max-width: 1140px;
    margin: 0 auto;
}
.container {
    position: relative;
}



div.h2 {
    font-size: 25px;
}
.collapseable-card {
    border: 1px solid #32c5d2;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
    transition: 0.5s cubic-bezier(.33,-0.33,.47,1);
}
.collapseable-card .card-controll {
    transform: translateX(0.5px);
    background: #32c5d2;
    width: 100%;
    display: flex;
    gap: 10px;
    padding: 8px 12px;
    position: relative;
}
.card-controll .card-title, .card-controll a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    line-height: 18px;
}


.collapseable-card .card-body {
    position: relative;
    width: 100% !important;
    transition: all 0.5s cubic-bezier(.33,-0.33,.47,1);
    overflow: hidden;
    padding: 20px;
    transform-origin: top center;
}
.collapseable-card.active .card-body {
    padding: 0px;
}
.collapseable-card.active .card-controll .buttons .up-down .icon {
    transform: translateY(8px) rotate(135deg);
}




.buttons {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    gap: 15px;
}


.up-down .icon {
    height: 11px;
    aspect-ratio: 1;
    border-left: 3px solid white;
    border-bottom: 3px solid white;
    transform: translateY(2px) rotate(-45deg);
    transition: 0.5s;
    cursor: pointer;
}
.cross .icon {
    color: white;
    cursor: pointer;
}


.card-bodyList div:not(.hr){
    margin-left: 200px;
}
div.hr {
    border-top: 1px solid red;
}
.card-bodyList div:nth-child(1) ul {
    list-style: none;
    padding: 10px 0;
}
.list-line ul {
    list-style: none;
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px 0;
    flex-wrap: wrap;
}
.list-line.inpart ul li a{
    font-size: 13px;
    font-weight: 700;
}
.list-line ul li a {
    text-decoration: none;
    white-space: nowrap;
}
div.bold ul li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    line-height: 40px;
    color: #22313F;
}
a.hover-under {
    text-decoration: none;
}
a.hover-under:hover {
    text-decoration: underline !important;
    text-decoration-color: #22313F !important;
}


.body-part {
    padding: 10px 0;
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
}
.body-part select {
    width: 250px;
    padding: 5px;
}
.label200 {
    width: 200px;
    text-align: right;
}

.taap-btn {
    border: none;
    padding: 10px 12px;
    color: aliceblue;
    cursor: pointer;
}
.big {
    font-size: 22px !important;
}


.crd-header {
    font-size: 25px;
    font-weight: 300;
    color: #22313F;
    padding: 15px 20px;
}


/* TAAP FORMS */

.taap-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    }
    .taap-form div {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        align-items: center;
    }
    div.label {
        width: 250px;
        display: flex;
        gap: 5px;
        justify-content: flex-end;
    }
    .taap-form div span {
        font-size: 12px;
    }
    
    .taap-form div input, .taap-form div select {
        height: 30px;
        border: 1px solid rgba(0, 0, 0, 0.34);
        min-width: 200px;
        padding: 0 10px;
    }
    
    
    .taap-form div input {
        width: 250px;
    }
    
    div.bigSubmit {
        padding: 20px;
        margin: 0;
        margin-top: 30px;
        background-color: #f5f5f5;
        border-top: 1px solid #e7ecf1;
        padding-left: 250px;
    }
    
    .bigSubmit input {
        padding: 7px 10px;
        border-color: rgba(0, 0, 0, 0.295);
        cursor: pointer;
    }
    
    
    .two {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .taap-form.taap-boolean {
        gap: 30px;
    }
    .taap-form.taap-boolean .form-part {
        display: flex;
        gap: 50px;
    }
    .taap-form.taap-boolean .form-part .label {
        width: 30%;
        text-align: right;
    }
    .taap-form.taap-boolean .form-part .inputs {
        display: flex;
        gap: 3px !important;
        align-items: center;
    }
    .taap-form input[type="radio"] {
        width: 30px !important;
        height: 15px;
        min-width: 10px !important;
    }

/*  */



/*  SIDE BAR */

.container {
    min-height: 100vh;
}
.container.sidebar-flex {
    display: flex;

}

.side-bar {
    background: #364150;
    max-width: 250px;
    color: #b4bcc8;
    width: 250px;
}
.icon-title {
    display: flex;
    align-items: center;

}

.icon-title .icon {
    border: 1px solid white;
    width: fit-content;
    aspect-ratio: 1;
}

.side-bar-menu a {
    text-decoration: none;
    color: #c6cfda;
    padding: 10px 20px;
    width: 100%;
    display: block;
    transition: 0.3s;
    max-width: 250px;
}
.side-bar-menu {
    margin-top: 50px;
    max-width: 250px;
}

ul.sub-link li a {
    width: calc(100% - 6px);
    border-radius: 10px;
    padding-left: 40px;
    text-overflow: ellipsis;
    word-wrap: break-word;
}
ul.sub-link li a:hover{
    background: #364150;
    transform: translateX(3px);
}
.menu ul.sub-link {
    display: none;
}
.menu.active ul.sub-link {
    display: block;
}
.menu.active {
    background: #2b3643;
}
.menu a.link {
    transition: 0.3s;
    position: relative;
}
.menu a.link:hover, .menu.active a.link {
    letter-spacing: 1px;
}

.menu a.link::after {
    content: '';
    height: 5px;
    aspect-ratio: 1;
    border-top: 2px solid rgb(148, 148, 148);
    border-left: 2px solid rgb(148, 148, 148);
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
    transition: 0.3s;
}
.menu.active a.link::after {
    transform: translateY(-50%) rotate(45deg);
}
a.link.sin::after {
    display: none;
}


/**/
/* BODY CONTENT */


.body-content {
    width: 100%;
}
.top-notch {
    border-bottom: 1px solid rgba(95, 95, 95, 0.265);
    display: flex;
    gap: 10px;
    padding: 5px 10px;
}
.top-notch .link {
    padding: 10px 5px;
    font-weight: 300;
    font-size: 16px;
    cursor: pointer;
    color: #888;
}
.body-content .collapseable-card {
    width: 95%;
    margin: 0 auto;
    margin-bottom: 30px;
}

/**/




.taap-yellow {
    color: #c49f47 !important;
}
.taap-black {
    color: #22313F !important;
}
.taap-dgreen {
    color: #4DB3A2 !important;
}
.taap-gold {
    color: #E87E04 !important;
}
.taap-blue {
    color: #3598dc !important;
}
.taap-red {
    color: #e7505a !important;
}
.taap-green {
    color: #32c5d2 !important;
}
.taap-bg-green {
    background: #32c5d2 !important;
}
.taap-text {
    color: #666;
    font-weight: 300;
}